
/**忙碌光标-start***/
.s-fullscreen-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 99999;
    background-color: rgba(0,0,0,.2);
    display: none;
}
.s-busy-wrap {
    position: fixed;
    top:50%;
    left:50%;
    width:100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    background-color: rgba(0, 0, 0, .75);
    border-radius:10px;
}
.s-busy-text {
    position: absolute;
    top:50%;
    left: 0;
    width:100%;
    margin-top: 50px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
 	text-align: center;
    color: #121010;
}
.s-busy-wrap span {
    position: absolute;
 	top:50%;
 	left:50%;
 	margin: -12px auto  auto -6px;
    width:12px;
    height: 24px;
    border-radius: 5px;
    background-color: white;
    opacity: 1;
    -webkit-animation-duration:1s;
    -webkit-animation-name: s-busy-animate;
    -webkit-animation-iteration-count:infinite;
    animation-duration:1s;
    animation-name: s-busy-animate;
    animation-iteration-count:infinite;
}
.s-busy-wrap .icon-0 {
    -webkit-transform:rotate(0deg) translate(0,-90%);
    -webkit-animation-delay:0s;
    transform:rotate(0deg) translate(0,-90%);
    animation-delay:0s;
}
.s-busy-wrap .icon-1 {
    -webkit-transform:rotate(30deg) translate(0,-90%);
    -webkit-animation-delay:-0.9167s;
    transform:rotate(30deg) translate(0,-90%);
    animation-delay:-0.9167s;
}
.s-busy-wrap .icon-2 {
    -webkit-transform:rotate(60deg) translate(0,-90%);
    -webkit-animation-delay:-0.833s;
    transform:rotate(60deg) translate(0,-90%);
    animation-delay:-0.833s;
}
.s-busy-wrap .icon-3 {
    -webkit-transform:rotate(90deg) translate(0,-90%);
    -webkit-animation-delay:-0.75s;
    transform:rotate(90deg) translate(0,-90%);
    animation-delay:-0.75s;
}
.s-busy-wrap .icon-4 {
    -webkit-transform:rotate(120deg) translate(0,-90%);
    -webkit-animation-delay:-0.667s;
    transform:rotate(120deg) translate(0,-90%);
    animation-delay:-0.667s;
}
.s-busy-wrap .icon-5 {
    -webkit-transform:rotate(150deg) translate(0,-90%);
    -webkit-animation-delay:-0.5833s;
    transform:rotate(150deg) translate(0,-90%);
    animation-delay:-0.5833s;
}
.s-busy-wrap .icon-6 {
    -webkit-transform:rotate(180deg) translate(0,-90%);
    -webkit-animation-delay:-0.5s;
    transform:rotate(180deg) translate(0,-90%);
    animation-delay:-0.5s;
}
.s-busy-wrap .icon-7 {
    transform:rotate(210deg) translate(0,-90%);
    animation-delay:-0.41667s;
    -webkit-transform:rotate(210deg) translate(0,-90%);
    -webkit-animation-delay:-0.41667s;
}
.s-busy-wrap .icon-8 {
    transform:rotate(240deg) translate(0,-90%);
    animation-delay:-0.333s;
    -webkit-transform:rotate(240deg) translate(0,-90%);
    -webkit-animation-delay:-0.333s;
}
.s-busy-wrap .icon-9 {
    transform:rotate(270deg) translate(0,-90%);
    animation-delay:-0.25s;
    -webkit-transform:rotate(270deg) translate(0,-90%);
    -webkit-animation-delay:-0.25s;
}
.s-busy-wrap .icon-10 {
    transform:rotate(300deg) translate(0,-90%);
    animation-delay:-0.1667s;
    -webkit-transform:rotate(300deg) translate(0,-90%);
    -webkit-animation-delay:-0.1667s;
}
.s-busy-wrap .icon-11 {
    transform:rotate(330deg) translate(0,-90%);
    animation-delay:-0.0833s;
    -webkit-transform:rotate(330deg) translate(0,-90%);
    -webkit-animation-delay:-0.0833s;
}

@keyframes s-busy-animate {
  from {opacity: 1;}
  to {opacity: 0.1;}
}

@-webkit-keyframes s-busy-animate {
  from {opacity: 1;}
  to {opacity: 0.1;}
}
/**end***/
